# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# shrug
Shrug/src.zip
Shrug/doc/*
Shrug/lib/*
Shrug/lic/*
Shrug/native/*
Shrug/jars/*


# other
.recommenders/*
*.log
